body{
	margin-left: 5%;
	margin-right: 5%;
    	background-color: #85929E;
    	text-align: justify;
}

h1{
	text-decoration: none;
	padding: 10px;
}

header {
	background-color: grey;
	text-align: center;
	margin: 2%;
	padding: 5px;
}

nav {
	margin-left: 7%;
	margin-right: 7%;
	background-color: grey;
	text-align: center;
}

main{
	margin-left: 10%;
	margin-right: 10%;
}

nav ul li{
	list-style-type:none;
	display:inline-block;
	margin: 3%;
	padding: 5px;
	background-color: blue;
}

a{
	color: white;
	text-decoration: none;
}

footer {
	background-color: grey;
	text-align: center;
	margin: 2%;
	padding: 5px;
}


/*  colores

background cajas #34495E;
background body  #85929E;
https://htmlcolorcodes.com/es/ 2a fila derecha
