body{
	margin-left: 5%;
	margin-right: 5%;
    	background-color: #85929E;
    	text-align: left;
	text-align:justify;
}

h1{
	color: red;
	text-decoration: underline;
	padding: 10px;
}

nav {
	background-color: grey;
	text-align: center;
}

main{
	margin-left: 10%;
	margin-right: 10%;
}

nav ul li{
	list-style-type:none;
	display:inline-block;
	margin: 5%;
	padding: 5px;
	background-color: blue;
}

a{
	color: white;
	text-decoration: none;
}

footer {
	background-color: grey;
	text-align: center;
}

time {
	background-color: grey;
	text-align: center;
}

pre {
	text-align:justify;
}

/*  colores

background cajas #34495E;
background body  #85929E;
https://htmlcolorcodes.com/es/ 2a fila derecha
